body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:844px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:558px;
  height:844px;
  display:flex;
}
#u554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:70px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:184px;
  width:383px;
  height:70px;
  display:flex;
}
#u555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:207px;
  width:117px;
  height:38px;
  display:flex;
  font-size:28px;
}
#u556 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:568px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:305px;
  width:110px;
  height:568px;
  display:flex;
}
#u557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:305px;
  width:286px;
  height:568px;
  display:flex;
}
#u558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:316px;
  width:49px;
  height:20px;
  display:flex;
  font-size:10px;
}
#u559 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:359px;
  width:70px;
  height:58px;
  display:flex;
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:359px;
  width:123px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u562 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:400px;
  width:58px;
  height:14px;
  display:flex;
}
#u563 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:373px;
  width:26px;
  height:26px;
  display:flex;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:374px;
  width:24px;
  height:24px;
  display:flex;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:386px;
  width:63px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u566 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:47px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:818px;
  width:275px;
  height:47px;
  display:flex;
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:207px;
  width:52px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:47px;
  background:inherit;
  background-color:rgba(236, 128, 141, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:818px;
  width:275px;
  height:47px;
  display:flex;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:558px;
  height:84px;
  display:flex;
  font-size:28px;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:433px;
  width:70px;
  height:58px;
  display:flex;
}
#u574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:433px;
  width:123px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u575 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:474px;
  width:58px;
  height:14px;
  display:flex;
}
#u576 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:447px;
  width:26px;
  height:26px;
  display:flex;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:460px;
  width:63px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:510px;
  width:70px;
  height:58px;
  display:flex;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:510px;
  width:123px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:551px;
  width:58px;
  height:14px;
  display:flex;
}
#u584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:524px;
  width:26px;
  height:26px;
  display:flex;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:537px;
  width:63px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:589px;
  width:70px;
  height:58px;
  display:flex;
}
#u590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:589px;
  width:123px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u591 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:630px;
  width:58px;
  height:14px;
  display:flex;
}
#u592 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:603px;
  width:26px;
  height:26px;
  display:flex;
}
#u593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:616px;
  width:63px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u594 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:58px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:671px;
  width:70px;
  height:58px;
  display:flex;
}
#u598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:671px;
  width:123px;
  height:27px;
  display:flex;
  font-size:20px;
}
#u599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:712px;
  width:58px;
  height:14px;
  display:flex;
}
#u600 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:685px;
  width:26px;
  height:26px;
  display:flex;
}
#u601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:698px;
  width:63px;
  height:11px;
  display:flex;
  font-size:10px;
}
#u602 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:368px;
  width:18px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u603 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u603_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:450px;
  width:24px;
  height:24px;
  display:flex;
}
#u604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:444px;
  width:18px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u605 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u605_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:844px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:100px;
  width:643px;
  height:844px;
  display:flex;
}
#u606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:100px;
  width:643px;
  height:84px;
  display:flex;
  font-size:28px;
}
#u607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:369px;
  width:39px;
  height:39px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:439px;
  width:40px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:459px;
  width:0px;
  height:0px;
}
#u610_seg0 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-5px;
  width:67px;
  height:10px;
}
#u610_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-3px;
  width:10px;
  height:8px;
}
#u610_seg2 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-12px;
  width:18px;
  height:19px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:234px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:244px;
  width:504px;
  height:84px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u612 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:389px;
  width:0px;
  height:0px;
}
#u613_seg0 {
  border-width:0px;
  position:absolute;
  left:-187px;
  top:-5px;
  width:187px;
  height:10px;
}
#u613_seg1 {
  border-width:0px;
  position:absolute;
  left:-187px;
  top:-5px;
  width:10px;
  height:6px;
}
#u613_seg2 {
  border-width:0px;
  position:absolute;
  left:-191px;
  top:-9px;
  width:18px;
  height:19px;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:356px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:364px;
  width:504px;
  height:28px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u615 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:356px;
  width:78px;
  height:36px;
  display:flex;
}
#u616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:403px;
  width:504px;
  height:28px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u617 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:207px;
  width:39px;
  height:39px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:227px;
  width:0px;
  height:0px;
}
#u619_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:21px;
  height:10px;
}
#u619_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-9px;
  width:19px;
  height:18px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:494px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:504px;
  width:504px;
  height:112px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u621 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u622 {
  position:absolute;
  left:329px;
  top:504px;
}
#u622_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:161px;
  height:92px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u622_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:92px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u623 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A9A9A9;
  text-align:left;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:138px;
  height:40px;
  display:flex;
  color:#A9A9A9;
  text-align:left;
}
#u624 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:29px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:161px;
  height:29px;
  display:flex;
  font-size:18px;
  color:#09BB07;
}
#u625 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#09BB07;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:63px;
  width:80px;
  height:29px;
  display:flex;
  font-size:12px;
  color:#09BB07;
}
#u626 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:80px;
  height:29px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u627 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:63px;
  width:1px;
  height:29px;
  display:flex;
}
#u628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:822px;
  width:40px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:842px;
  width:0px;
  height:0px;
}
#u630_seg0 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-5px;
  width:67px;
  height:10px;
}
#u630_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-3px;
  width:10px;
  height:8px;
}
#u630_seg2 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-12px;
  width:18px;
  height:19px;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:644px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:654px;
  width:504px;
  height:112px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u632 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:254px;
  width:383px;
  height:44px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:28px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:262px;
  width:367px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
}
#u635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:270px;
  width:12px;
  height:12px;
  display:flex;
}
#u636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:254px;
  width:39px;
  height:39px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:274px;
  width:0px;
  height:0px;
}
#u638_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:20px;
  height:10px;
}
#u638_seg1 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-10px;
  width:21px;
  height:20px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:781px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:791px;
  width:504px;
  height:28px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u640 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
