.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.box_1 {
}
.image {
}
.ellipse {
}
.connector {
}
.box_2 {
}
.refs-webm-wechat {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.line {
}
.link_button {
  color:#169BD5;
}
.icon {
}
.placeholder {
}
.label {
  font-size:14px;
  text-align:left;
}
.button {
}
.marker {
  color:#FFFFFF;
}
.box_3 {
}
.refs-design-material {
  font-family:'Noto Sans CJK SC ', 'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
}
.image1 {
  color:#000000;
}
.sticky_1 {
  text-align:left;
}
._一级标题 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.arrow {
}
.refs-design-apple {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
._图片 {
  color:#000000;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._形状 {
}
.table_cell {
}
.primary_button {
  color:#FFFFFF;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.line1 {
}
._图片1 {
}
textarea, select, input, button { outline: none; }
