body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:884px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:762px;
  width:300px;
  height:62px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:573px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:456px;
  height:573px;
  display:flex;
}
#u1153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:136px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1007px;
  width:456px;
  height:136px;
  display:flex;
}
#u1154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:673px;
  width:456px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1155 .text {
  position:absolute;
  align-self:center;
  padding:0px 12px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:223px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:713px;
  width:456px;
  height:223px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 12px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:801px;
  width:369px;
  height:121px;
}
#u1158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  display:flex;
}
#u1158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:0px;
  width:290px;
  height:30px;
  display:flex;
}
#u1159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:79px;
  height:31px;
  display:flex;
}
#u1160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:30px;
  width:290px;
  height:31px;
  display:flex;
}
#u1161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:79px;
  height:30px;
  display:flex;
}
#u1162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:61px;
  width:290px;
  height:30px;
  display:flex;
}
#u1163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:79px;
  height:30px;
  display:flex;
}
#u1164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:30px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:91px;
  width:290px;
  height:30px;
  display:flex;
}
#u1165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:936px;
  width:456px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1166 .text {
  position:absolute;
  align-self:center;
  padding:0px 12px 0px 12px;
  box-sizing:border-box;
  width:100%;
}
#u1166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:65px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:750px;
  width:30px;
  height:55px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 18.5px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:850px;
  width:300px;
  height:62px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1168 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:65px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:838px;
  width:30px;
  height:55px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 18.5px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:706px;
  width:300px;
  height:62px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1170 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:65px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:694px;
  width:30px;
  height:55px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 18.5px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
