body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-100px;
  width:741px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:249px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:369px;
  height:249px;
  display:flex;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:214px;
  width:300px;
  height:21px;
  display:flex;
  font-size:20px;
  text-align:left;
}
#u213 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:225px;
  width:0px;
  height:0px;
}
#u214_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u214_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-10px;
  width:21px;
  height:20px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
