body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1469px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:581px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:201px;
  width:348px;
  height:581px;
  display:flex;
}
#u1366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:100px;
  width:486px;
  height:79px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1367 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:211px;
  width:128px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1368 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1368_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:273px;
  width:439px;
  height:60px;
  display:flex;
}
#u1369 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:348px;
  height:80px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u1370 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:100px;
  width:348px;
  height:80px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u1371 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:581px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:201px;
  width:348px;
  height:581px;
  display:flex;
}
#u1372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:580px;
  width:15px;
  height:15px;
  display:flex;
}
#u1373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:606px;
  width:15px;
  height:15px;
  display:flex;
}
#u1374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:699px;
  width:15px;
  height:15px;
  display:flex;
}
#u1375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:377px;
  width:224px;
  height:19px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1376 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:450px;
  width:21px;
  height:21px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u1377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:446px;
  width:30px;
  height:30px;
  display:flex;
}
#u1378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:461px;
  width:0px;
  height:0px;
}
#u1379_seg0 {
  border-width:0px;
  position:absolute;
  left:-121px;
  top:-5px;
  width:126px;
  height:10px;
}
#u1379_seg1 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:523px;
  width:0px;
  height:0px;
}
#u1380_seg0 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:-5px;
  width:159px;
  height:10px;
}
#u1380_seg1 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:-4px;
  width:10px;
  height:9px;
}
#u1380_seg2 {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-13px;
  width:20px;
  height:21px;
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:464px;
  width:300px;
  height:75px;
  display:flex;
}
#u1381 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:512px;
  width:21px;
  height:21px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
}
#u1382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:441px;
  width:23px;
  height:23px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
}
#u1383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:445px;
  width:224px;
  height:19px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1384 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:373px;
  width:23px;
  height:23px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
}
#u1385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
