body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-142px;
  width:2210px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:372px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:155px;
  width:279px;
  height:372px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:372px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:1800px;
  top:154px;
  width:231px;
  height:372px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:374px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:153px;
  width:280px;
  height:374px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:372px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:155px;
  width:279px;
  height:372px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:372px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:684px;
  width:209px;
  height:372px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:372px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1159px;
  width:223px;
  height:372px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:341px;
  width:0px;
  height:0px;
}
#u6_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:152px;
  height:10px;
}
#u6_seg1 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:-9px;
  width:19px;
  height:18px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:363px;
  width:0px;
  height:0px;
}
#u7_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-28px;
  width:10px;
  height:28px;
}
#u7_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-28px;
  width:190px;
  height:10px;
}
#u7_seg2 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:-32px;
  width:19px;
  height:18px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:363px;
  width:106px;
  height:44px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:424px;
  width:0px;
  height:0px;
}
#u9_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-89px;
  width:10px;
  height:89px;
}
#u9_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-89px;
  width:245px;
  height:10px;
}
#u9_seg2 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:-93px;
  width:19px;
  height:18px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1329px;
  top:299px;
  width:188px;
  height:82px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:424px;
  width:236px;
  height:44px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1517px;
  top:340px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:288px;
  height:10px;
}
#u12_seg1 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:-9px;
  width:19px;
  height:18px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:381px;
  width:0px;
  height:0px;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:164px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-339px;
  top:154px;
  width:344px;
  height:10px;
}
#u13_seg2 {
  border-width:0px;
  position:absolute;
  left:-339px;
  top:146px;
  width:10px;
  height:18px;
}
#u13_seg3 {
  border-width:0px;
  position:absolute;
  left:-343px;
  top:140px;
  width:18px;
  height:19px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:112px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:420px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2116px;
  top:154px;
  width:236px;
  height:420px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:1862px;
  top:221px;
  width:109px;
  height:105px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1971px;
  top:274px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:112px;
  height:10px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-5px;
  width:10px;
  height:100px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:85px;
  width:43px;
  height:10px;
}
#u16_seg3 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:81px;
  width:19px;
  height:18px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2125px;
  top:469px;
  width:227px;
  height:57px;
  display:flex;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2239px;
  top:526px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:19px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:-328px;
  top:9px;
  width:333px;
  height:10px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:-328px;
  top:0px;
  width:10px;
  height:19px;
}
#u18_seg3 {
  border-width:0px;
  position:absolute;
  left:-332px;
  top:-6px;
  width:18px;
  height:19px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:372px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:684px;
  width:231px;
  height:372px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:929px;
  width:231px;
  height:33px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:372px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:684px;
  width:224px;
  height:372px;
  display:flex;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:946px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:104px;
  height:10px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-81px;
  width:10px;
  height:86px;
}
#u22_seg2 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-81px;
  width:49px;
  height:10px;
}
#u22_seg3 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-85px;
  width:19px;
  height:18px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:1023px;
  width:119px;
  height:33px;
  display:flex;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:1056px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:108px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:90px;
  width:18px;
  height:19px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:1345px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:284px;
  height:10px;
}
#u25_seg1 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:-289px;
  width:10px;
  height:294px;
}
#u25_seg2 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:-295px;
  width:18px;
  height:19px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:229px;
  top:-13px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:385px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:678px;
  width:232px;
  height:385px;
  display:flex;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:870px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:192px;
  height:10px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:-5px;
  width:10px;
  height:11px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:-4px;
  width:21px;
  height:10px;
}
#u27_seg3 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:-8px;
  width:19px;
  height:18px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
