body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1374px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:844px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:643px;
  height:844px;
  display:flex;
}
#u1768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:643px;
  height:84px;
  display:flex;
  font-size:28px;
}
#u1769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:709px;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:206px;
  width:425px;
  height:709px;
  display:flex;
}
#u1770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:583px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u1771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:607px;
  width:0px;
  height:0px;
}
#u1772_seg0 {
  border-width:0px;
  position:absolute;
  left:-187px;
  top:-5px;
  width:187px;
  height:10px;
}
#u1772_seg1 {
  border-width:0px;
  position:absolute;
  left:-187px;
  top:-5px;
  width:10px;
  height:10px;
}
#u1772_seg2 {
  border-width:0px;
  position:absolute;
  left:-192px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1772_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:861px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u1773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:885px;
  width:0px;
  height:0px;
}
#u1774_seg0 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-5px;
  width:63px;
  height:10px;
}
#u1774_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-5px;
  width:10px;
  height:10px;
}
#u1774_seg2 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1774_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u1775 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:782px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u1775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1776 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:806px;
  width:0px;
  height:0px;
}
#u1776_seg0 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-5px;
  width:63px;
  height:10px;
}
#u1776_seg1 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-5px;
  width:10px;
  height:11px;
}
#u1776_seg2 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-6px;
  width:20px;
  height:21px;
}
#u1776_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:844px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1777 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:100px;
  width:643px;
  height:844px;
  display:flex;
}
#u1777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1778 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:100px;
  width:643px;
  height:84px;
  display:flex;
  font-size:28px;
}
#u1778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
