body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1618px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:844px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:643px;
  height:844px;
  display:flex;
}
#u373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:643px;
  height:84px;
  display:flex;
  font-size:28px;
}
#u374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:709px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:206px;
  width:425px;
  height:709px;
  display:flex;
}
#u375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:534px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:581px;
  width:0px;
  height:0px;
}
#u377_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:23px;
}
#u377_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:13px;
  width:10px;
  height:10px;
}
#u377_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:8px;
  width:21px;
  height:20px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:861px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:885px;
  width:0px;
  height:0px;
}
#u379_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-5px;
  width:21px;
  height:10px;
}
#u379_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-5px;
  width:10px;
  height:10px;
}
#u379_seg2 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-7px;
  width:20px;
  height:21px;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:722px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:746px;
  width:0px;
  height:0px;
}
#u381_seg0 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-5px;
  width:36px;
  height:10px;
}
#u381_seg1 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-5px;
  width:10px;
  height:27px;
}
#u381_seg2 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:10px;
  width:20px;
  height:21px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:269px;
  width:797px;
  height:331px;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
  display:flex;
}
#u383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:36px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:0px;
  width:697px;
  height:36px;
  display:flex;
  color:#000000;
  text-align:left;
}
#u384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:97px;
  height:44px;
  display:flex;
}
#u385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:44px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:36px;
  width:697px;
  height:44px;
  display:flex;
  text-align:left;
}
#u386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:61px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:97px;
  height:61px;
  display:flex;
}
#u387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:61px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:80px;
  width:697px;
  height:61px;
  display:flex;
  color:#000000;
  text-align:left;
}
#u388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:150px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:97px;
  height:150px;
  display:flex;
}
#u389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:150px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:141px;
  width:697px;
  height:150px;
  display:flex;
  text-align:left;
}
#u390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:291px;
  width:97px;
  height:40px;
  display:flex;
}
#u391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:40px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:291px;
  width:697px;
  height:40px;
  display:flex;
  text-align:left;
}
#u392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:803px;
  width:42px;
  height:16px;
  display:flex;
}
#u393 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u393_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:803px;
  width:18px;
  height:16px;
  display:flex;
}
#u394 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:803px;
  width:28px;
  height:16px;
  display:flex;
}
#u395 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u395_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:786px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:810px;
  width:0px;
  height:0px;
}
#u397_seg0 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-5px;
  width:32px;
  height:10px;
}
#u397_seg1 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-5px;
  width:10px;
  height:11px;
}
#u397_seg2 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:1px;
  width:10px;
  height:5px;
}
#u397_seg3 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-11px;
  width:20px;
  height:21px;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:641px;
  width:71px;
  height:30px;
  display:flex;
}
#u398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:641px;
  width:24px;
  height:30px;
  display:flex;
}
#u399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:624px;
  width:47px;
  height:47px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:648px;
  width:0px;
  height:0px;
}
#u401_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-5px;
  width:21px;
  height:10px;
}
#u401_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-5px;
  width:10px;
  height:10px;
}
#u401_seg2 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-7px;
  width:20px;
  height:21px;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
